[Interface]
SaveConfig = true
Address = {{ wg_address }}
ListenPort = 51820
PrivateKey = {{ wg_prikey }}
PostUp = ufw route allow in on wg0 out on {{ ansible_default_ipv4.interface }}
PostUp = iptables -t nat -I POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
PreDown = ufw route delete allow in on wg0 out on {{ ansible_default_ipv4.interface }}
PreDown = iptables -t nat -D POSTROUTING -o {{ ansible_default_ipv4.interface }} -j MASQUERADE
